*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
   padding: 1%;
   width: 80%;
   margin: 0 auto;
}

.title-text{
    color: black;
    margin-left: 10%;
}
.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}
.background-color{
    background-color:rgb(215, 215, 203);
}
.tbl-full{
    width: 100%;
    background-color:rgb(215, 215, 203);
    
}
.tbl-30{
    width: 100%;
    height: 40%;
}


table tr th{
    border-bottom: 1px solid black;
    padding:1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-primary{
    width: 17%;
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}
.btn-primary:hover{
    background-color: #2ed573;
}

.btn-secondary{
    background-color: #2ed573;
    padding: 3%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #7bed9f;
}
.btn-dlt{
    background-color: #ff6b81;
    padding: 3%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-dlt:hover{
    background-color: #ff4757;
}
.btn-add{
    background-color: #2ed573;
    padding: 0.9%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-add:hover{
    background-color: #7bed9f;
}

.big{
    width: 1em; height: 1em;
}
.success{
    color: rgb(46, 195, 73);
    margin-left: 10%;
}

.error{
    color: rgb(250, 69, 69);
}
/* CSS Menu*/
.menu{
    border-bottom: 1px solid gray;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding:1%;
}

.menu ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: rgb(252, 219, 71);
}
.menu ul li a:hover{
    color: black;
}

/* CSS main content*/
.main-content{
     height: 100%;
     background-image: url(../images/background.jpg);
     background-color: #f1f2f6;
     padding: 3% 0;
}

.col-4{
    width: 26%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float:left ;
}

/* CSS Footer*/
.footer{
    background-color: #ff4757;
    color: white;
}

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .item-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .item-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .item-menu{
        padding: 20% 0;
    }

    .item-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}

