.logo{
    width: 10%;
    float: left;
}

.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.text-right{
    text-align: right;
}

.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}